.generator-container {
    @include flex(column nowrap, flex-start, center, auto, flex-start, 0);
    width: 100vw;
}
.braille-generator {
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 2rem);
    margin: 3rem 0;
    width: 90%;
    max-width: 1000px;
    label {
        font-weight: 900;
        width: 100%;
        background-color: $yellow;
        padding: 1em 2.5em;
        margin: 0 0 1vmax 0;
        font-size: clamp(1.5em, 2vw, 2rem);
        letter-spacing: 0.05em;
    }
    input {
        padding: 0 6px;
        color: $black;
        border-top: solid 2px $white;
        border-left: solid 2px $white;
        border-right: solid 2px $white;
        border-bottom: 2px solid $black;
        font-size: clamp(1.5em, 4vw, 2rem);
        line-height: 2em;
        font-weight: 600;
        padding: 0 0.5em;
        margin: 0 3vmax;
        border-radius: none;
        text-align: center;
        &::placeholder {
            color: $black;
            opacity: 1;
        }
        &:focus {
            border: solid 2px $yellow;
            outline: none;
        }
    }
}
#txtOutput {
    background-color: $white;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px $yellow;
    text-align: center;
    font-size: clamp(3em, 5vw, 5rem);
    border: none;
    outline: none;
    resize: none;
    &:focus {
        border: none;
        outline: none;
    }
}
.btn-group {
    @include flex(row nowrap,flex-start, stretch, auto, flex-start, 2vmax);
    @media only screen and (max-width: 800px) { flex-flow: row wrap; }
}
.btn {
    width: 100%;
    background-color: $yellow;
    border: solid 2px $yellow;
    padding: 1em 2em;
    &:focus, &:hover { background-color: lighten($yellow, 30%); }
}