#txtOutput {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px $yellow;
    height: 10rem;
}
.braille-generator-container {
    @include flex(column nowrap, center, stretch, auto, flex-start, 0);
    height: 100%;
    max-width: 1000px;
    width: 100vw;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    margin: 5rem 0 0 0;
}
.braille-generator {
    @include flex(column nowrap,flex-start, stretch, auto, flex-start, 2vmax);
    label {
        text-transform: uppercase;
        font-weight: 900;
        width: 100%;
        background-color: $yellow;
        text-align: center;
        padding: 1em 0.75em;
        margin: 0 0 1vmax 0;
        font-size: clamp(1.5em, 4vw, 2.5rem);
        letter-spacing: 0.05em;
    }
    input {
        height: 2.5rem;
        padding: 0 6px;
    }
    input, textarea, div {
        margin: 0 3vmax;
        &:focus {
            border: solid 2px $yellow;
            outline: none;
        }
    }
    textarea {
        min-height: 6vmax; 
        width: 100vw;
    }
}
.btn-group {
    @include flex(row nowrap,flex-start, stretch, auto, flex-start, 1vmin);
    margin: 0 3vmax 4vmax 3vmax;
    .btn {
        width: 100%;
        border: none;
        background-color: $yellow;
        border: solid 2px $yellow;
        padding: 0.8em 0;
        &:focus, &:hover {
            background-color: lighten($yellow, 30%);
        }
    }
}