@import url("https://use.typekit.net/sah2het.css");

body, button, a {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
a:focus, a:active {
    outline: none;
}