@import url("https://use.typekit.net/sah2het.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html, body {
  scroll-behavior: smooth;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

body, button, a {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus, a:active {
  outline: none;
}

#txtOutput {
  background-color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #FFD500;
  text-align: center;
  font-size: clamp(3em, 5vw, 5rem);
}

.generator-container {
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.braille-generator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2rem;
  margin: 3rem 0;
  width: 90%;
  max-width: 1000px;
}
.braille-generator label {
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  background-color: #FFD500;
  text-align: center;
  padding: 1em 0.75em;
  margin: 0 0 1vmax 0;
  font-size: clamp(1.5em, 4vw, 2.5rem);
  letter-spacing: 0.05em;
}
.braille-generator input {
  padding: 0 6px;
  color: black;
  font-weight: 900;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  font-size: clamp(1.5em, 4vw, 2rem);
  line-height: 2em;
  padding: 0 0.5em;
}
.braille-generator input::placeholder {
  color: black;
  opacity: 1;
}
.braille-generator input, .braille-generator textarea {
  margin: 0 3vmax;
}
.braille-generator input:focus, .braille-generator textarea:focus {
  border: solid 2px #FFD500;
  outline: none;
}
.braille-generator textarea {
  border: none;
  outline: none;
  resize: none;
}
.braille-generator textarea:focus {
  border: none;
  outline: none;
}

.btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2vmax;
}
@media only screen and (max-width: 800px) {
  .btn-group {
    flex-flow: row wrap;
  }
}

.btn {
  width: 100%;
  border: none;
  background-color: #FFD500;
  border: solid 2px #FFD500;
  padding: 1em 2em;
  text-align: center;
}
.btn:focus, .btn:hover {
  background-color: #ffee99;
}

/*# sourceMappingURL=styles.css.map */
